.number{
    color: red;

}
.header a{
    text-decoration: none;
    list-style: none;
    color: black;
}
.header a:hover{
    color: red;
}
.header{
    background-color: #fff;
    font-size: 0.7rem;
}
.redColorHover:hover{
color: red;
cursor: pointer;
}